--
-- PostgreSQL database dump
--

\restrict jikVkS4NNakJ923e3UtKaBRxSoxPAjprbtycqCkA1BicvgbZ5jqykziGhBNx63e

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: add_book_with_author(character varying, character varying, integer, numeric, integer, character varying, integer, character varying); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.add_book_with_author(p_book_name character varying, p_isbn character varying, p_publication_year integer, p_price numeric, p_stock integer, p_author_name character varying, p_birth_year integer, p_country character varying) RETURNS integer
    LANGUAGE plpgsql
    AS $$

DECLARE

    v_author_id INT;

    v_book_id INT;

BEGIN

    SELECT author_id INTO v_author_id

    FROM authors

    WHERE name = p_author_name;



    IF v_author_id IS NULL THEN

        INSERT INTO authors (name, birth_year, country)

        VALUES (p_author_name, p_birth_year, p_country)

        RETURNING author_id INTO v_author_id;

    END IF;



    INSERT INTO books (book_name, isbn, publication_year, price, stock_quantity, author_id)

    VALUES (p_book_name, p_isbn, p_publication_year, p_price, p_stock, v_author_id)

    RETURNING book_id INTO v_book_id;



    RETURN v_book_id;

END;

$$;


ALTER FUNCTION public.add_book_with_author(p_book_name character varying, p_isbn character varying, p_publication_year integer, p_price numeric, p_stock integer, p_author_name character varying, p_birth_year integer, p_country character varying) OWNER TO postgres;

--
-- Name: audit_trigger(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.audit_trigger() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    INSERT INTO activity_log (

        user_id,

        action,

        table_name,

        record_id,

        old_data,

        new_data

    )

    VALUES (

        NULL,               -- ╨░╨▒╨╛ current_user, ╤П╨║╤Й╨╛ ╨▒╨╡╨╖ users

        TG_OP,

        TG_TABLE_NAME,

        COALESCE(NEW.book_id, OLD.book_id),

        CASE WHEN TG_OP IN ('UPDATE','DELETE') THEN row_to_json(OLD)::jsonb END,

        CASE WHEN TG_OP IN ('INSERT','UPDATE') THEN row_to_json(NEW)::jsonb END

    );



    RETURN NEW;

END;

$$;


ALTER FUNCTION public.audit_trigger() OWNER TO postgres;

--
-- Name: get_author_statistics(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_author_statistics(p_author_id integer) RETURNS TABLE(total_books integer, avg_price numeric, min_price numeric, max_price numeric, total_stock integer, earliest_year integer, latest_year integer)
    LANGUAGE plpgsql
    AS $$

BEGIN

    RETURN QUERY

    SELECT

        COUNT(*)::INT AS total_books,

        AVG(price)::DECIMAL(10,2) AS avg_price,

        MIN(price)::DECIMAL(10,2) AS min_price,

        MAX(price)::DECIMAL(10,2) AS max_price,

        SUM(stock_quantity)::INT AS total_stock,

        MIN(publication_year)::INT AS earliest_year,

        MAX(publication_year)::INT AS latest_year

    FROM books

    WHERE author_id = p_author_id;

END;

$$;


ALTER FUNCTION public.get_author_statistics(p_author_id integer) OWNER TO postgres;

--
-- Name: log_activity(integer, character varying, character varying, integer, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_activity(p_user_id integer, p_action character varying, p_table_name character varying, p_record_id integer, p_details text DEFAULT NULL::text) RETURNS void
    LANGUAGE plpgsql
    AS $$

BEGIN

    INSERT INTO activity_log (user_id, action, table_name, record_id, details)

    VALUES (p_user_id, p_action, p_table_name, p_record_id, p_details);

END;

$$;


ALTER FUNCTION public.log_activity(p_user_id integer, p_action character varying, p_table_name character varying, p_record_id integer, p_details text) OWNER TO postgres;

--
-- Name: log_book_price_change(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_book_price_change() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF TG_OP = 'UPDATE' AND OLD.price != NEW.price THEN

        INSERT INTO book_audit (book_id, operation, old_price, new_price, changed_by)

        VALUES (NEW.book_id, 'UPDATE', OLD.price, NEW.price, current_user);

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.log_book_price_change() OWNER TO postgres;

--
-- Name: log_order_insert(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.log_order_insert() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    INSERT INTO activity_log(user_id, action, table_name, record_id)

    VALUES (1, 'INSERT', 'orders', NEW.order_id);

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.log_order_insert() OWNER TO postgres;

--
-- Name: update_author_books_price(integer, numeric); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_author_books_price(p_author_id integer, p_discount_percent numeric) RETURNS TABLE(book_id integer, old_price numeric, new_price numeric)
    LANGUAGE plpgsql
    AS $$

BEGIN

    RETURN QUERY

    UPDATE books

    SET price = price * (1 - p_discount_percent / 100)

    WHERE author_id = p_author_id

    RETURNING 

        book_id,

        price / (1 - p_discount_percent / 100) AS old_price,

        price AS new_price;

END;

$$;


ALTER FUNCTION public.update_author_books_price(p_author_id integer, p_discount_percent numeric) OWNER TO postgres;

--
-- Name: update_book_timestamp(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_book_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_book_timestamp() OWNER TO postgres;

--
-- Name: validate_book_data(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.validate_book_data() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- ╨Я╨╡╤А╨╡╨▓╤Ц╤А╨║╨░ ╤А╨╛╨║╤Г ╨▓╨╕╨┤╨░╨╜╨╜╤П

    IF NEW.publication_year > EXTRACT(YEAR FROM CURRENT_DATE) THEN

        RAISE EXCEPTION '╨а╤Ц╨║ ╨▓╨╕╨┤╨░╨╜╨╜╤П ╨╜╨╡ ╨╝╨╛╨╢╨╡ ╨▒╤Г╤В╨╕ ╤Г ╨╝╨░╨╣╨▒╤Г╤В╨╜╤М╨╛╨╝╤Г';

    END IF;



    -- ╨Я╨╡╤А╨╡╨▓╤Ц╤А╨║╨░ ╤Ж╤Ц╨╜╨╕

    IF NEW.price < 0 THEN

        RAISE EXCEPTION '╨ж╤Ц╨╜╨░ ╨╜╨╡ ╨╝╨╛╨╢╨╡ ╨▒╤Г╤В╨╕ ╨▓╤Ц╨┤''╤Ф╨╝╨╜╨╛╤О';

    END IF;



    -- ╨Я╨╡╤А╨╡╨▓╤Ц╤А╨║╨░ ╨║╤Ц╨╗╤М╨║╨╛╤Б╤В╤Ц ╨╜╨░ ╤Б╨║╨╗╨░╨┤╤Ц

    IF NEW.stock_quantity < 0 THEN

        RAISE EXCEPTION '╨Ъ╤Ц╨╗╤М╨║╤Ц╤Б╤В╤М ╨╜╨░ ╤Б╨║╨╗╨░╨┤╤Ц ╨╜╨╡ ╨╝╨╛╨╢╨╡ ╨▒╤Г╤В╨╕ ╨▓╤Ц╨┤''╤Ф╨╝╨╜╨╛╤О';

    END IF;



    RETURN NEW;

END;

$$;


ALTER FUNCTION public.validate_book_data() OWNER TO postgres;

--
-- Name: validate_book_price(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.validate_book_price() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    IF NEW.price <= 0 THEN

        RAISE EXCEPTION '╨ж╤Ц╨╜╨░ ╨╜╨╡ ╨╝╨╛╨╢╨╡ ╨▒╤Г╤В╨╕ ╨╜╤Г╨╗╤М ╨░╨▒╨╛ ╨▓╤Ц╨┤╩╝╤Ф╨╝╨╜╨░';

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.validate_book_price() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_log (
    log_id integer NOT NULL,
    user_id integer,
    action character varying(50) NOT NULL,
    table_name character varying(50) NOT NULL,
    record_id integer,
    details text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    old_data jsonb,
    new_data jsonb
);


ALTER TABLE public.activity_log OWNER TO postgres;

--
-- Name: activity_log_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.activity_log_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.activity_log_log_id_seq OWNER TO postgres;

--
-- Name: activity_log_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.activity_log_log_id_seq OWNED BY public.activity_log.log_id;


--
-- Name: authors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authors (
    author_id integer NOT NULL,
    name character varying(50),
    birth_year integer,
    country character varying(30)
);


ALTER TABLE public.authors OWNER TO postgres;

--
-- Name: books; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.books (
    book_id integer NOT NULL,
    isbn character varying(30),
    book_name character varying(50),
    author_id integer,
    publication_year integer,
    price numeric,
    stock_quantity integer,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.books OWNER TO postgres;

--
-- Name: author_statistics; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.author_statistics AS
 SELECT a.author_id,
    a.name AS author_name,
    a.country,
    count(b.book_id) AS total_books,
    (avg(b.price))::numeric(10,2) AS avg_book_price,
    sum(b.stock_quantity) AS total_stock,
    min(b.publication_year) AS first_publication,
    max(b.publication_year) AS last_publication
   FROM (public.authors a
     LEFT JOIN public.books b ON ((a.author_id = b.author_id)))
  GROUP BY a.author_id, a.name, a.country;


ALTER TABLE public.author_statistics OWNER TO postgres;

--
-- Name: authors_author_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.authors_author_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.authors_author_id_seq OWNER TO postgres;

--
-- Name: authors_author_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.authors_author_id_seq OWNED BY public.authors.author_id;


--
-- Name: book_audit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.book_audit (
    audit_id integer NOT NULL,
    book_id integer,
    operation character varying(10),
    old_price numeric(10,2),
    new_price numeric(10,2),
    changed_by character varying(50),
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.book_audit OWNER TO postgres;

--
-- Name: book_audit_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.book_audit_audit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.book_audit_audit_id_seq OWNER TO postgres;

--
-- Name: book_audit_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.book_audit_audit_id_seq OWNED BY public.book_audit.audit_id;


--
-- Name: books_book_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.books_book_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.books_book_id_seq OWNER TO postgres;

--
-- Name: books_book_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.books_book_id_seq OWNED BY public.books.book_id;


--
-- Name: books_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.books_categories (
    book_id integer NOT NULL,
    category_id integer NOT NULL
);


ALTER TABLE public.books_categories OWNER TO postgres;

--
-- Name: books_with_authors; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.books_with_authors AS
 SELECT b.book_id,
    b.book_name,
    b.isbn,
    b.publication_year,
    b.price,
    b.stock_quantity,
    a.author_id,
    a.name AS author_name,
    a.country AS author_country,
    a.birth_year AS author_birth_year
   FROM (public.books b
     JOIN public.authors a ON ((b.author_id = a.author_id)));


ALTER TABLE public.books_with_authors OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    category_id integer NOT NULL,
    category_name character varying(20)
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categories_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categories_category_id_seq OWNER TO postgres;

--
-- Name: categories_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categories_category_id_seq OWNED BY public.categories.category_id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    customer_id integer NOT NULL,
    full_name character varying(50),
    phone character varying(20),
    email character varying(50)
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: customers_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customers_customer_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.customers_customer_id_seq OWNER TO postgres;

--
-- Name: customers_customer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customers_customer_id_seq OWNED BY public.customers.customer_id;


--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    employee_id integer NOT NULL,
    full_name character varying(50),
    "position" character varying(30),
    salary numeric
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Name: employees_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.employees_employee_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.employees_employee_id_seq OWNER TO postgres;

--
-- Name: employees_employee_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.employees_employee_id_seq OWNED BY public.employees.employee_id;


--
-- Name: expensive_books_by_author; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.expensive_books_by_author AS
 SELECT DISTINCT ON (a.author_id) a.author_id,
    a.name AS author_name,
    b.book_name AS most_expensive_book,
    b.price AS highest_price
   FROM (public.authors a
     JOIN public.books b ON ((a.author_id = b.author_id)))
  ORDER BY a.author_id, b.price DESC;


ALTER TABLE public.expensive_books_by_author OWNER TO postgres;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    order_item_id integer NOT NULL,
    order_id integer,
    book_id integer,
    quantity integer,
    unit_price numeric
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: mv_sales_summary; Type: MATERIALIZED VIEW; Schema: public; Owner: postgres
--

CREATE MATERIALIZED VIEW public.mv_sales_summary AS
 SELECT b.book_name,
    sum(oi.quantity) AS total_sold
   FROM (public.order_items oi
     JOIN public.books b ON ((oi.book_id = b.book_id)))
  GROUP BY b.book_name
  WITH NO DATA;


ALTER TABLE public.mv_sales_summary OWNER TO postgres;

--
-- Name: order_items_order_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_items_order_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.order_items_order_item_id_seq OWNER TO postgres;

--
-- Name: order_items_order_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_items_order_item_id_seq OWNED BY public.order_items.order_item_id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    order_id integer NOT NULL,
    customer_id integer,
    employee_id integer,
    order_date date,
    total_amount numeric
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.orders_order_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.orders_order_id_seq OWNER TO postgres;

--
-- Name: orders_order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.orders_order_id_seq OWNED BY public.orders.order_id;


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    supplier_id integer NOT NULL,
    company_name character varying(40),
    phone character varying,
    email character varying
);


ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: suppliers_supplier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.suppliers_supplier_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.suppliers_supplier_id_seq OWNER TO postgres;

--
-- Name: suppliers_supplier_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.suppliers_supplier_id_seq OWNED BY public.suppliers.supplier_id;


--
-- Name: supplies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.supplies (
    supply_id integer NOT NULL,
    supplier_id integer,
    book_id integer,
    quantity integer,
    delivery_date date
);


ALTER TABLE public.supplies OWNER TO postgres;

--
-- Name: supplies_supply_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.supplies_supply_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.supplies_supply_id_seq OWNER TO postgres;

--
-- Name: supplies_supply_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.supplies_supply_id_seq OWNED BY public.supplies.supply_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    email character varying(100) NOT NULL,
    role character varying(20) DEFAULT 'user'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: view_books_authors; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.view_books_authors AS
 SELECT b.book_name,
    a.name AS author,
    b.price
   FROM (public.books b
     JOIN public.authors a ON ((b.author_id = a.author_id)));


ALTER TABLE public.view_books_authors OWNER TO postgres;

--
-- Name: view_books_prices; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.view_books_prices AS
 SELECT books.book_id,
    books.book_name,
    books.price
   FROM public.books;


ALTER TABLE public.view_books_prices OWNER TO postgres;

--
-- Name: view_orders_full; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.view_orders_full AS
 SELECT o.order_id,
    c.full_name AS customer,
    e.full_name AS employee,
    o.order_date,
    o.total_amount
   FROM ((public.orders o
     JOIN public.customers c ON ((o.customer_id = c.customer_id)))
     JOIN public.employees e ON ((o.employee_id = e.employee_id)));


ALTER TABLE public.view_orders_full OWNER TO postgres;

--
-- Name: activity_log log_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_log ALTER COLUMN log_id SET DEFAULT nextval('public.activity_log_log_id_seq'::regclass);


--
-- Name: authors author_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authors ALTER COLUMN author_id SET DEFAULT nextval('public.authors_author_id_seq'::regclass);


--
-- Name: book_audit audit_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.book_audit ALTER COLUMN audit_id SET DEFAULT nextval('public.book_audit_audit_id_seq'::regclass);


--
-- Name: books book_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.books ALTER COLUMN book_id SET DEFAULT nextval('public.books_book_id_seq'::regclass);


--
-- Name: categories category_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories ALTER COLUMN category_id SET DEFAULT nextval('public.categories_category_id_seq'::regclass);


--
-- Name: customers customer_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers ALTER COLUMN customer_id SET DEFAULT nextval('public.customers_customer_id_seq'::regclass);


--
-- Name: employees employee_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees ALTER COLUMN employee_id SET DEFAULT nextval('public.employees_employee_id_seq'::regclass);


--
-- Name: order_items order_item_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items ALTER COLUMN order_item_id SET DEFAULT nextval('public.order_items_order_item_id_seq'::regclass);


--
-- Name: orders order_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders ALTER COLUMN order_id SET DEFAULT nextval('public.orders_order_id_seq'::regclass);


--
-- Name: suppliers supplier_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers ALTER COLUMN supplier_id SET DEFAULT nextval('public.suppliers_supplier_id_seq'::regclass);


--
-- Name: supplies supply_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplies ALTER COLUMN supply_id SET DEFAULT nextval('public.supplies_supply_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: activity_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.activity_log (log_id, user_id, action, table_name, record_id, details, created_at, old_data, new_data) FROM stdin;
\.


--
-- Data for Name: authors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.authors (author_id, name, birth_year, country) FROM stdin;
2	╨Ф╨╢╨╛╤А╨┤╨╢ ╨Ь╨░╤А╤В╤Ц╨╜	1948	╨б╨и╨Р
3	╨б╤В╤Ц╨▓╨╡╨╜ ╨Ъ╤Ц╨╜╨│	1947	╨б╨и╨Р
4	╨д╤А╨╡╨╜╨║ ╨У╨╡╤А╨▒╨╡╤А╤В	1920	╨б╨и╨Р
5	╨Ю╨╗╨┤╨╛╤Б ╨У╨░╨║╤Б╨╗╤Ц	1894	╨Т╨╡╨╗╨╕╨║╨░ ╨С╤А╨╕╤В╨░╨╜╤Ц╤П
1	╨Ф╨╢╨╛╨░╨╜ ╨а╨╛╤Г╨╗╤Ц╨╜╨│	1966	╨Т╨╡╨╗╨╕╨║╨░ ╨С╤А╨╕╤В╨░╨╜╤Ц╤П
6	╨в╨░╤А╨░╤Б ╨и╨╡╨▓╤З╨╡╨╜╨║╨╛	1814	╨г╨║╤А╨░╤Ч╨╜╨░
7	╨Ы╨╡╤Б╤П ╨г╨║╤А╨░╤Ч╨╜╨║╨░	1871	╨г╨║╤А╨░╤Ч╨╜╨░
9	╨Ь╨╕╤Е╨░╨╣╨╗╨╛ ╨Ъ╨╛╤Ж╤О╨▒╨╕╨╜╤Б╤М╨║╨╕╨╣	1864	╨г╨║╤А╨░╤Ч╨╜╨░
10	╨Ю╨╗╤М╨│╨░ ╨Ъ╨╛╨▒╨╕╨╗╤П╨╜╤Б╤М╨║╨░	1863	╨г╨║╤А╨░╤Ч╨╜╨░
8	╨Ж╨▓╨░╨╜ ╨д╤А╨░╨╜╨║╨╛	1856	╨г╨║╤А╨░╤Ч╨╜╨░
\.


--
-- Data for Name: book_audit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.book_audit (audit_id, book_id, operation, old_price, new_price, changed_by, changed_at) FROM stdin;
1	1	UPDATE	380.00	390.00	postgres	2025-11-23 08:38:47.06688
\.


--
-- Data for Name: books; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: books_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.books_categories (book_id, category_id) FROM stdin;
2	1
3	3
4	4
5	5
8	2
10	7
6	8
7	7
7	2
9	8
1	2
1	1
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (category_id, category_name) FROM stdin;
1	╨д╨╡╨╜╤В╨╡╨╖╤Ц
2	╨Я╤А╨╕╨│╨╛╨┤╨╕
3	╨Ц╨░╤Е╨╕
4	╨Э╨░╤Г╨║╨╛╨▓╨░ ╤Д╨░╨╜╤В╨░╤Б╤В╨╕╨║╨░
5	╨Р╨╜╤В╨╕╤Г╤В╨╛╨┐╤Ц╤П
7	╨Ф╤А╨░╨╝╨░
8	╨Ж╤Б╤В╨╛╤А╨╕╤З╨╜╤Ц
9	╨в╤А╨╕╨╗╨╡╤А╨╕
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.customers (customer_id, full_name, phone, email) FROM stdin;
1	╨Ж╨▓╨░╨╜ ╨Я╨╡╤В╤А╨╡╨╜╨║╨╛	+380991112233	ivan.petrenko@gmail.com
2	╨Ь╨░╤А╤Ц╤П ╨Ъ╨╛╨▓╨░╨╗╨╡╨╜╨║╨╛	+380931234567	maria.k@gmail.com
3	╨Ю╨╗╨╡╨║╤Б╨░╨╜╨┤╤А ╨и╨╡╨▓╤З╨╡╨╜╨║╨╛	+380501234111	oleksandr.sh@gmail.com
\.


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.employees (employee_id, full_name, "position", salary) FROM stdin;
1	╨Р╨╜╨╜╨░ ╨б╤В╨╡╨┐╨░╨╜╨╡╨╜╨║╨╛	╨Я╤А╨╛╨┤╨░╨▓╨╡╤Ж╤М	15000
2	╨Ю╨╗╨╡╨│ ╨С╨╛╨╜╨┤╨░╤А	╨Ь╨╡╨╜╨╡╨┤╨╢╨╡╤А	21000
3	╨б╨▓╤Ц╤В╨╗╨░╨╜╨░ ╨а╨╛╨╝╨░╨╜╤О╨║	╨Р╨┤╨╝╤Ц╨╜╤Ц╤Б╤В╤А╨░╤В╨╛╤А	25000
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_items (order_item_id, order_id, book_id, quantity, unit_price) FROM stdin;
1	1	1	1	380
2	1	3	1	320
3	2	4	1	410
4	3	1	1	380
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders (order_id, customer_id, employee_id, order_date, total_amount) FROM stdin;
1	1	1	2024-03-10	760
2	2	1	2024-03-12	410
3	3	2	2024-03-14	380
\.


--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suppliers (supplier_id, company_name, phone, email) FROM stdin;
1	BookLine	+380931112233	bookline@gmail.com
2	ReadersHub	+380671234567	readershub@gmail.com
3	WorldBooks	+380501111222	worldbooks@gmail.com
\.


--
-- Data for Name: supplies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.supplies (supply_id, supplier_id, book_id, quantity, delivery_date) FROM stdin;
1	1	1	40	2024-01-12
2	1	3	25	2024-02-15
3	2	2	30	2024-01-29
4	2	4	20	2024-03-01
5	3	5	15	2024-02-20
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (user_id, username, password_hash, email, role, created_at) FROM stdin;
1	admin	admin123	admin@bookstore.com	admin	2025-11-23 15:18:42.317403
\.


--
-- Name: activity_log_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.activity_log_log_id_seq', 1, false);


--
-- Name: authors_author_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.authors_author_id_seq', 10, true);


--
-- Name: book_audit_audit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.book_audit_audit_id_seq', 1, true);


--
-- Name: books_book_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.books_book_id_seq', 10, true);


--
-- Name: categories_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_category_id_seq', 9, true);


--
-- Name: customers_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customers_customer_id_seq', 3, true);


--
-- Name: employees_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.employees_employee_id_seq', 3, true);


--
-- Name: order_items_order_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.order_items_order_item_id_seq', 4, true);


--
-- Name: orders_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.orders_order_id_seq', 3, true);


--
-- Name: suppliers_supplier_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.suppliers_supplier_id_seq', 3, true);


--
-- Name: supplies_supply_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.supplies_supply_id_seq', 5, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 2, true);


--
-- Name: activity_log activity_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_log
    ADD CONSTRAINT activity_log_pkey PRIMARY KEY (log_id);


--
-- Name: authors authors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authors
    ADD CONSTRAINT authors_pkey PRIMARY KEY (author_id);


--
-- Name: book_audit book_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.book_audit
    ADD CONSTRAINT book_audit_pkey PRIMARY KEY (audit_id);


--
-- Name: books_categories books_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.books_categories
    ADD CONSTRAINT books_categories_pkey PRIMARY KEY (book_id, category_id);


--
-- Name: books books_isbn_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT books_isbn_key UNIQUE (isbn);


--
-- Name: books books_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT books_pkey PRIMARY KEY (book_id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (category_id);


--
-- Name: customers customers_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_email_key UNIQUE (email);


--
-- Name: customers customers_phone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_phone_key UNIQUE (phone);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (customer_id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (employee_id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (order_item_id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (order_id);


--
-- Name: suppliers suppliers_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_email_key UNIQUE (email);


--
-- Name: suppliers suppliers_phone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_phone_key UNIQUE (phone);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (supplier_id);


--
-- Name: supplies supplies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplies
    ADD CONSTRAINT supplies_pkey PRIMARY KEY (supply_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_books_author_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_books_author_id ON public.books USING btree (author_id);


--
-- Name: idx_books_categories_book_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_books_categories_book_id ON public.books_categories USING btree (book_id);


--
-- Name: idx_books_categories_category_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_books_categories_category_id ON public.books_categories USING btree (category_id);


--
-- Name: idx_books_expensive; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_books_expensive ON public.books USING btree (price) WHERE (price > (400)::numeric);


--
-- Name: idx_books_isbn; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_books_isbn ON public.books USING btree (isbn);


--
-- Name: idx_books_price; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_books_price ON public.books USING btree (price);


--
-- Name: idx_books_publication_year; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_books_publication_year ON public.books USING btree (publication_year);


--
-- Name: idx_customers_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_email ON public.customers USING btree (email);


--
-- Name: idx_customers_phone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_phone ON public.customers USING btree (phone);


--
-- Name: idx_order_items_book_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_items_book_id ON public.order_items USING btree (book_id);


--
-- Name: idx_order_items_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_items_order_id ON public.order_items USING btree (order_id);


--
-- Name: idx_orders_customer_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_customer_id ON public.orders USING btree (customer_id);


--
-- Name: idx_orders_employee_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_employee_id ON public.orders USING btree (employee_id);


--
-- Name: idx_orders_recent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_recent ON public.orders USING btree (order_date) WHERE (order_date > '2024-03-01'::date);


--
-- Name: idx_supplies_book_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_supplies_book_id ON public.supplies USING btree (book_id);


--
-- Name: idx_supplies_delivery_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_supplies_delivery_date ON public.supplies USING btree (delivery_date);


--
-- Name: idx_supplies_supplier_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_supplies_supplier_id ON public.supplies USING btree (supplier_id);


--
-- Name: view_books_prices update_price; Type: RULE; Schema: public; Owner: postgres
--

CREATE RULE update_price AS
    ON UPDATE TO public.view_books_prices DO INSTEAD  UPDATE public.books SET price = new.price
  WHERE (books.book_id = old.book_id);


--
-- Name: books book_price_audit; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER book_price_audit AFTER UPDATE ON public.books FOR EACH ROW EXECUTE FUNCTION public.log_book_price_change();


--
-- Name: books book_update_timestamp; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER book_update_timestamp BEFORE UPDATE ON public.books FOR EACH ROW EXECUTE FUNCTION public.update_book_timestamp();


--
-- Name: books trg_audit_books; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_audit_books AFTER INSERT OR DELETE OR UPDATE ON public.books FOR EACH ROW EXECUTE FUNCTION public.audit_trigger();


--
-- Name: orders trg_log_order_insert; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_log_order_insert AFTER INSERT ON public.orders FOR EACH ROW EXECUTE FUNCTION public.log_order_insert();


--
-- Name: books trg_validate_price; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_validate_price BEFORE INSERT ON public.books FOR EACH ROW EXECUTE FUNCTION public.validate_book_price();


--
-- Name: books validate_book_before_write; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER validate_book_before_write BEFORE INSERT OR UPDATE ON public.books FOR EACH ROW EXECUTE FUNCTION public.validate_book_data();


--
-- Name: activity_log activity_log_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_log
    ADD CONSTRAINT activity_log_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: books books_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT books_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.authors(author_id);


--
-- Name: books_categories books_categories_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.books_categories
    ADD CONSTRAINT books_categories_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(book_id);


--
-- Name: books_categories books_categories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.books_categories
    ADD CONSTRAINT books_categories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(category_id);


--
-- Name: order_items order_items_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(book_id);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: orders orders_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id);


--
-- Name: orders orders_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.employees(employee_id);


--
-- Name: supplies supplies_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplies
    ADD CONSTRAINT supplies_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(book_id);


--
-- Name: supplies supplies_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.supplies
    ADD CONSTRAINT supplies_supplier_id_fkey FOREIGN KEY (supplier_id) REFERENCES public.suppliers(supplier_id);


--
-- Name: mv_sales_summary; Type: MATERIALIZED VIEW DATA; Schema: public; Owner: postgres
--

REFRESH MATERIALIZED VIEW public.mv_sales_summary;


--
-- PostgreSQL database dump complete
--

\unrestrict jikVkS4NNakJ923e3UtKaBRxSoxPAjprbtycqCkA1BicvgbZ5jqykziGhBNx63e

